## Exo 1


### Weird request not to use json.dumps() but have the same result / effect

In [1]:
def json_dumps(x):
    if type(x) == int or type(x) == float: 
        return str(x)
    
    elif type(x) == str:         
        return '\"' + str(x) + '\"' 
    
    elif type(x) == list:         
        y = "["
        for i in x:
            if i == x[-1]:
                if i == None or i == "None":
                    y += "null"
                else:
                    y += str(i).lower() 
            else:
                if i == None or i == "None":
                    y += "null" + ","
                else:
                    y += str(i).lower() + ","
        y += "]"
        return y
    
    elif type(x) == dict:         
        y = "{"
        for a, b in x.items():
            if type(b) == list:
                y += "\"" + str(a) + "\":"
                for i in b:
                    y += "[\"" + str(i) + "\"]" 
            else:
                y += "\"" + str(a) + "\":\"" + str(b) + "\"" 
        y += "}"
        
        return y

In [2]:
print(json_dumps(1))

assert json_dumps(1) == '1'

print()



print(json_dumps(1.2))

assert json_dumps(1.2) == '1.2'

print()



print(json_dumps("foo"))

assert json_dumps("foo") == '"foo"'

print()



print(json_dumps("foo"))

assert json_dumps("foo") == '"foo"'

assert json_dumps('foo') == '"foo"'

print()



print(json_dumps([None, True, False]))

assert json_dumps([None, True, False]) == '[null,true,false]'

print()



print(json_dumps({"foo": "bar"}))

assert json_dumps({"foo": "bar"}) == '{"foo":"bar"}'

print()



print(json_dumps({"foo": ["bar"]}))

assert json_dumps({"foo": ["bar"]}) == '{"foo":["bar"]}'

1

1.2

"foo"

"foo"

[null,true,false]

{"foo":"bar"}

{"foo":["bar"]}

## Exo 2 


### slice two by two

In [3]:
def cut1(x):
    y = "" 
    for i in x:
        y += str(i)
        
    o = []
    while y:
        o.append(y[:2])
        y = y[2:]
    
    print(o)
    
    
    
def cut(x, y):
    z = "" 
    
    for i in x:
        z += str(i)
        
    o = []
    
    y = int(y)
    
    while z:
        o.append(z[:y])
        z = z[y:]
    
    print(o)

In [4]:
cut1 ([123, 4, "dsfr", 567, "8", 90, "123"])

print()
print("****************************************")
print()

cut([123, 4, "dsfr", 567, "8", 90, "123"], 3)

['12', '34', 'ds', 'fr', '56', '78', '90', '12', '3']

****************************************

['123', '4ds', 'fr5', '678', '901', '23']

## Exo 3

#### Dans cet exercice, on vous demande d'écrire un programme capable d'analyser un relevé de températures pour trouver quelle température se rapproche le plus de zéro. 

### Implémentez la fonction compute_closest_to_zero(ts) qui prend un tableau de températures ts en paramètre et renvoie la température la plus proche de zéro.

### Contraintes :
  - Si le tableau est vide, la fonction doit renvoyer 0 
  - 0 ≤ taille ts ≤ 10000 
  - Si deux températures sont aussi proches de zéro, la fonction devra renvoyer la température positive 
    
  ** (par exemple si les températures sont -5 et 5, renvoyez 5).

In [61]:
# ts = [7, 5, 9, 1, 4,]

# ts = [15, -7, 9, 14, 7, 12]

# ts = [-273]

# ts = [5526]

# ts = [-15, -7, -9, -14, -12]

# ts = [-10, -10]

# ts = [-15, -7, -9, -14, -12] 

# ts = []

In [63]:
import sys
import math
from contextlib import redirect_stdout


def compute_closest_to_zero(ts):
    # Write your code here
    
    if len(ts) == 0:
        return 0
    else:
        if len(ts) == 1 and 0 not in ts:
            return ts[0]
        
        if 0 in ts:
            ts.remove(0)
        
        temp = list(min((abs(x), x) for x in ts))
        
        if len(temp) == 1:
            return temp[0]
        else:
            if temp[0] == temp[1]:
                return temp[0]
            elif temp[0] not in ts:
                return temp[1]
            else:
                return temp[0]

In [7]:
compute_closest_to_zero([7, 5, 9, 1, 4,])

1

In [8]:
compute_closest_to_zero([7, -5, 9, 1, 4,])

1

In [9]:
compute_closest_to_zero([15, -7, 9, 14, 7, 12, 0])

7

In [10]:
compute_closest_to_zero([15, -7, 9, 14, 7, 12])

7

In [11]:
compute_closest_to_zero([-273])

-273

In [12]:
compute_closest_to_zero([5526])

5526

In [13]:
compute_closest_to_zero([-15, -7, -9, -14, -12])

-7

In [14]:
compute_closest_to_zero([-10, -10])

-10

## Exo 4

#### Dans cet exercice, on vous demande d'écrire une fonction is_bool(i,j) retournant True si un des arguments est égal à 1 ou si leur somme est égal à 1 capable d'analyser un relevé de températures pour trouver quelle température se rapproche le plus de zéro. 

    
  **(par exemple is_bool(1, 5) retourne True ).**
  
  **(par exemple is_bool(2, 3) retourne False ).**
  
  **(par exemple is_bool(-3, 4) retourne True ).**

In [1]:
def is_bool(i, j):
    if i == 1 or j ==1:
        return True
    elif i + j == 1:
        return True
    return False

In [3]:
is_bool(1, 5)

True

In [4]:
is_bool(2, 3)

False

In [5]:
is_bool(-3, 4)

True

## Exo 5

#### Dans cet exercice, on vous demande d'écrire une fonction solution,  telle que l'execution de

#### print(solution('Hello you !'))  donne 

**Hello**

**you**

**!**

In [14]:
def solution(my_string):
    my_list = my_string.split(" ")
    for i in my_list:
        print(i)
        
    # return my_list

In [15]:
solution('Hello you !')

Hello
you
!

In [16]:
print(solution('Hello you !'))

Hello
you
!
None

## Exo 6

#### Dans cet exercice, on vous demande d'écrire une fonction is_on_even_position(table, value),  afin qu'elle renvoie True si la valeur value est contenue dans le tableau table à un index pair et false sinon 

#### le parametre table n'est jamais None

In [22]:
# t = [9, 8, 7, 6, 5, 4, 3, 2, 1, 0 ]

In [23]:
def is_on_even_position(table, value):
    if table.index(value) % 2 == 0: 
        return True 
    return False

In [24]:
t = [9, 8, 7, 6, 5, 4, 3, 2, 1, 0 ]

print(is_on_even_position(t, 6))

False

In [25]:
t = [9, 8, 7, 6, 5, 4, 3, 2, 1, 0 ]

print(is_on_even_position(t, 3))

True

## Exo 7

#### Vous organisez un tournoi d'échecs dans lequel les joueurs s'affronteront en duel. 


#### Pour former les duels on procède ainsi: d'abord on tire au hasard un joueur, ensuite on tire au hasard son opposant parmi les joueurs restants. Cette paire forme un des duels du tournoi. On procède de la même manière pour former toutes les paires.

#### Dans cet exercice, on souhaiterait connaître le nombre de paires qu'il est possible d'obtenir sachant que l'ordre des opposants dans paire n'a pas d'importance.

#### Par exemple, avec 4 joueurs nommés A, B, C et D, il est possible d'obtenir 6 paires différentes: AB, AC, AD, BC, BD, CD.

#### Implémentez count pour retourner le nombre de paires possibles. Le

#### paramètre correspond au nombre de joueurs.

#### Essayez d'optimiser votre solution pour que, dans l'idéal, la durée de traitement soit la même quel que soit n


**Données**

**2 <= n <= 10000**

In [44]:

# import sys

# print(sys.getrecursionlimit())

# sys.setrecursionlimit(15000)  # makes python crach

# print(sys.getrecursionlimit())

# **********************************************************************************************

# Changing the Algo 


""" 
def factorial (x):
    if x == 0 or x == 1:
        return 1

    elif x == 2: 
        return 2
    
    else:
        return x * factorial(x - 1)
""" 

def factorial(x):
    factorial = 1

    while x > 0:
        factorial = factorial*x
        x = x - 1

    return factorial


def count (n):
    n = int(n)
    
    if n == 2:
        return 1
    
    # return int ( factorial(n) / ( factorial(n-2) * factorial(2) ) ) 
    return int ( factorial(n) / ( factorial(n-2) * 2 ) )



# print (count(4)) # 6

In [45]:
# Code de test

print (count(4)) # 6

6

In [46]:
# Code de test

print(count(8)) # 28

28

In [47]:
# Code de test

print(count(32)) # 496

496

In [48]:
print(count(10000)) # 49995000

49995000

## Exo 8

#### Fonction pour inverser une liste

In [52]:

def reverse_list(my_list):
    
   return my_list[::-1]


# my_list = [2, 5, 78, 0, 4]

# the_list = my_list[::-1]

# print(the_list)

In [53]:
print(reverse_list([2, 5, 78, 0, 4]))

[4, 0, 78, 5, 2]

## Exo 9 

#### Heritage Class 

##### Class B hérite de Class A

In [55]:
class A():
    def test(self):
        print("A")
        
    def __init__(self):
        self.test()

        
class B(A):
    def __init__(self):
        self.test()

In [59]:
print(B())

A
<__main__.B object at 0x000001FE3C6555E0>

In [60]:
b1 = B()

A

## Exo 10


### Implémentez la fonction find smallest interval(numbers) qui retourne le plus petit intervalle positif entre deux éléments du tableau numbers.


#### Par exemple, si on considère le tableau [1, 6, 4, 8, 2], le plus petit intervalle est 1 (différence entre 2 et 1)


### Contraintes:

 - numbers contient au moins deux éléments et au maximum 100 000 éléments.

 - La solution qui privilégie la vitesse d'exécution pour les tableaux de grande taille obtiendra le plus de points.
 
 - La différence entre deux éléments ne dépassera jamais la capacité d'un entier pour votre langage.

In [66]:

import sys

import math

from contextlib import redirect_stdout


print(sys.maxsize)


"""
    function findSmallestInterval(array $numbers)
    {
        // Number of items in the array
        $length = count($numbers);

        // Sort array in ascending order
        sort($numbers);

        // Initialize difference with the max integer allowed by PHP in the constant
        // Usually int(2147483647) in 32 bit systems and int(9223372036854775807) in 64 bit systems
        $diff = PHP_INT_MAX;

        // Find the smallest interval comparing the adjacent pairs in the sorted array
        for ($i = 0; $i < $length - 1; $i++){
            if ($numbers[$i + 1] - $numbers[$i] < $diff){
                $diff = $numbers[$i + 1] - $numbers[$i];
            }
        }

        return $diff;
    }

"""

def find_smallest_interval(numbers):
    
    numbers.sort()
    
    # diff = sys.maxsize
    diff = max(numbers)
    
    for i in range(0, len(numbers)):
        if numbers[i+1] - numbers[i] < diff:
            diff = numbers[i+1] - numbers[i]
    
    return diff


def main():
    n = int(input())
    numbers = [int(i) for i in input().split()]
    
    with redirect_stdout(sys.stderr):
        res = find_smallest_interval(numbers)
        
    print(res)
    
    
if __name__ == "__main__":
    main()

9223372036854775807
1 6 4 8 2

ValueError: invalid literal for int() with base 10: '1 6 4 8 2'

9223372036854775807